
  .btn{
    background: #00a0b7;
  }

  .navbar{
    background: #00a0b7;
  }
  .navbar-expand{
    background: #00a0b7;
  }



  #logotipo{
    max-width: 120px;
    width: 100%;
    margin-left: 6%;

  }

  #logotipo2{
    width: 120px;

  }

  #coluna1{
    background: #000708;
  }

  #coluna2{
    background: #000708;
  }

  #coluna3{
    background: #000708;
  }

  #coluna4{
    background: #000708;
  }


  #icon_mapa{
    max-width: 60px;
    width: 100%;
  }


  #icon_info{
    max-width: 60px;
    width: 100%;
  }


  #icon_export{
    max-width: 60px;
    width: 100%;
  }


  #png_barras{
    width: 100%;
  }

  #png_mapa{
    width: 70%;
  }

  #png_estado{
    width: 25%;
  }

  #png_municipio{
    width: 23%;
  }

  #png_quimica{
    width: 25%;
  }

  #png_empresa{
    width: 25%;
  }

  #png_colunas{
    width: 70%;
  }

  #png_tabela{
    width: 70%;
  }

  #png_ticket{
    width: 70%;
  }



  #lineChart{
    width: 90%!important; 
    height:100%!important;
  }

#barChart{
    width: 90%!important; 
    height:100%!important;
  }

.table-sm {
    border: 2px inset #00bd2f;
    opacity: 1;
    border-collapse: collapse;
    border-spacing: 3;
}


th, td{
   border-color: #00bd2f !important;
   color: white;
}

.ticket{
  width: 50%;
  vertical-align: middle!important;
  font-family: 'proxima-nova', sans-serif;
  font-size: 100%;
}

.valores{
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
}

#nome_principal{
  font-family: "Open Sans", sans-serif !important;
  text-align: center;
  
}

h1{
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
}

.container-fluid{
  margin-top: 1%;
}

.col-lg-2{
  padding-right:0px;
  background: #00a0b7;
}

#footer{
  background: #000708!important;
  text-align: center;
  margin: auto;
  color: white;
}