{% extends "base.html" %}

{% block container %}
	<h1>DATA SCIENCE MINERAL</h1>
	<div class="row">
		<!-- Inicio Sidebar -->
	    <div class="col-sm-2" id="sidebar-collapse"> 
	        <div class="nav-side-menu bg-dark" >

	            <div class="sidebar-profile-pic"></div>
	            <span class="nav-link sidebar-profile-name">Douglas Nickson</span>
	            <div class="divider"></div>

	            <ul class="list-unstyled components" style="display:block;">
	                <li class="active">
	                	<a href="http://localhost:5000/home" class="inicio">
		   					Inicio
		   				</a>
	                </li>
	                <li>
		   				<a href="http://localhost:5000/mapa" class="mapa">
		   					<img class="logo" src="/static/img/icones_menu-02.png" id="logotipo">
		   					<p>Mapa Interativo</p>
		   				</a>
		   			</li>
		   			<li>
		   				<a href="http://localhost:5000/nuvem" class="nuvem">
		   					<img class="logo" src="/static/img/icones_menu-04.png" id="logotipo">
		   					<p>Nuvem de Palavras</p> 
		   				</a>
		   			</li>
		   			<li>
		   				<a href="http://localhost:5000/infografico" class="info">
		   					<img class="logo" src="/static/img/icones_menu-06.png" id="logotipo">
		   					<p>Infográfico</p>
		   				</a>

		   			</li>


	            </ul>
	            <ul class="list-unstyled CTAs">
		   			
		   			<li>
		   				<a href="https://docs.google.com/forms/d/e/1FAIpQLSfNo9kIxj-mMPcgLXpPEv66JMdUhB25w_W6GUAdZW1O1cXo-Q/viewform" target="_blank" class="article">Avalie o site</a>
		   			</li>
		   		</ul>

	        </div>
	    </div>
	    <!-- Fim Sidebar -->
	    <div class="col-sm-10">

        <section class="dashboard">


        </section>

		</div>

{% endblock %}
	